<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if not user.is_authenticated %}
                <li><a href="login/">Login</a></li>
                <li><a href="/signup.html">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                <!-- security stuff -->
                {% csrf_token %}
                <!-- rendered form -->
                {{ form.as_p }}
                <button>Login</button>
            </form>
        </div>
        </main>
    </body>
    </html>
