<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create</title>
</head>
<body>
    <main>
        <div>
            <h1>Create Receipt</h1>
            <form method="post">
                <!-- security stuff -->
                {% csrf_token %}
                <!-- rendered form -->
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</html>
