<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Category</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="accounts/">Account</a></li>
                <li><a href="categories/">Category</a></li>
                <li><a href="categories/create/">Create Category</a></li>
                <li><a href="accounts/create/">Create Account</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Create Category</h1>
            <form method="post">
                <!-- security stuff -->
                {% csrf_token %}
                <!-- rendered form -->
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</html>
