<!DOCTYPE html>
<html lang="en">
<head>
    <title>receipts</title>
</head>
<body>
<main>
    <h1>My Receipts</h1>
        <table>
            <tr>
            <thead>Vendor</thead>
            <thead>Total</thead>
            <thead>Tax</thead>
            <thead>Date</thead>
            <thead>Category</thead>
            <thead>Account</thead>
            </tr>
            <!-- we need to iterate through our context name -->
            {% for value in receipt_list %}
            <tr>
                <td> {{ value.vendor }} </td>
                <td> {{ value.total }} </td>
                <td> {{ value.tax }} </td>
                <td>{{ value.date|date:"m/d/y" }}</td>
                <!-- to grab any value from object, do object name then .whatevervalueineed -->
                <td> {{ value.category.name }}</td>
                <td>{{ value.account.name }}</td>
            </tr>
            {% endfor %}
        </table>
</main>
</body>
</html>
